<div>

  <div class="main-container header">
    <div class="columnHeader sideColumn" style=" margin: auto"><h1>Past reservations</h1></div>
    <div class="columnHeader middleColumn" style=" margin: auto"><h1>Plan your schedule</h1></div>
    <div class="columnHeader sideColumn" style=" margin: auto"><h1>Current reservations</h1></div>
  </div>

  <div class="main-container">
    <div class="sideColumn">
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="reservations-viewport">
        <mat-card class="example-card" *ngFor="let reservation of workerPastReservations$ | async">
          <mat-card-title-group>
            <mat-card-title>{{reservation.service.serviceName}}</mat-card-title>
            <mat-card-subtitle>{{reservation.startTime | date: 'dd-MM-YYYY'}} {{reservation.startTime | date: 'h:mm'}}
              -{{reservation.endTime | date: 'h:mm'}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="reservation-content">
            <div>
              <p><b>Service data:</b></p>
              <p><b>Duration:</b> {{reservation.service.duration}}min</p>
              <p><b>Cost:</b> {{reservation.service.price}}zł</p>
              <p><b>Status:</b> {{reservation.status}}</p>
            </div>
            <div>
              <p><b>Contact data:</b></p>
              <p><b>Client:</b> {{reservation.client.firstname}} {{reservation.client.lastname}}</p>
              <p><b>Phone:</b> {{reservation.client.phone}}</p>
              <p><b>E-mail address:</b> {{reservation.client.email}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </cdk-virtual-scroll-viewport>
    </div>

    <div class="middleColumn">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

    <div class="sideColumn">
      <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="reservations-viewport">
        <mat-card class="example-card" *ngFor="let reservation of workerCurrentReservations$ | async">
          <mat-card-title-group>
            <mat-card-title>{{reservation.service.serviceName}}</mat-card-title>
            <mat-card-subtitle>{{reservation.startTime | date: 'dd-MM-YYYY'}} {{reservation.startTime | date: 'h:mm'}}
              -{{reservation.endTime | date: 'h:mm'}}</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-content class="reservation-content">
            <div>
              <p><b>Service data:</b></p>
              <p><b>Duration:</b> {{reservation.service.duration}}min</p>
              <p><b>Cost:</b> {{reservation.service.price}}zł</p>
              <p><b>Status:</b> {{reservation.status}}</p>
            </div>
            <div>
              <p><b>Contact data:</b></p>
              <p><b>Client:</b> {{reservation.client.firstname}} {{reservation.client.lastname}}</p>
              <p><b>Phone:</b> {{reservation.client.phone}}</p>
              <p><b>E-mail address:</b> {{reservation.client.email}}</p>
            </div>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button type="button" class="btn btn-danger" mat-button>Cancel</button>
          </mat-card-actions>
        </mat-card>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

</div>
